
img {
    padding: 2px;
    width: 100px;
    height: 100px;
}

ul {
    list-style: none;
}
ol {
    list-style: none;
}
.boxImg {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#button {
    width: 20px;
    height: 20px;
}
.boxButton {

    display: flex;
    flex-direction: row;
    justify-content: center;    
    
}

