
img {
    padding: 2px;
    width: 100px;
    height: 100px;
}

ul {
    list-style: none;
}
ol {
    list-style: none;
}
.boxImg {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#button {
    width: 20px;
    height: 20px;s
}
.boxButton {

    display: flex;
    flex-direction: row;
    justify-content: space-around;   
     
    
}
p {
    text-align: justify;
}
.boxText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   

}

