body {
    background-color: #344577;
    color: white;
}

img{
    width: 80PX;
}

nav {
    display: flex;
    justify-content: center;
    align-content: space-between;
}

ol{
    border: 1PX solid snow;
    padding: 20PX;
    margin: 80;
}

