body{
    background-color: #344577;
    color: #fff;
}
#container {
    display: flex;
    justify-content: space-around;
}

.sections{
    border: 1px solid #fff;
    padding: 50px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 80px;
}

li{
    list-style: none;
}

.reves{
    display: flex;
    flex-direction: column-reverse;
}